@import url(./reset.css);
@import url("./footer.css");

#search-container {
  max-width: 500px;
  position: fixed;
  border: none;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 95%;
  margin: auto;
  z-index: 10;

  & h2 {
    margin-block-end: 1rem;
    text-align: center;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.743);
    z-index: 10;
  }

  &>div:has(input) {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2rem;

    @media (min-width: 500px) {
      flex-direction: row;
    }

    &>input {
      flex: auto;
      border: none;
      border-bottom: 2px solid var(--lightGray);
      padding: 0.3rem 1rem;

      &:focus {
        outline: none;
        border-bottom-color: var(--darkgray);
      }
    }

    &>button {
      margin: 0;
      padding: 0.2rem 1rem;
    }
  }

  &>.close-btn {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
    cursor: pointer;
  }
}

.open-search-icon {
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 1;
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

#open-search {
  @media (max-width: 768px) {
    display: none;
  }

  background-color: var(--white);
  aspect-ratio: 1;
  width: 35px;
  padding: 0.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.loader-box {
  min-height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 20;
  display: grid;
  place-items: center;
  background-color: var(--lightGray);

  & .loader {
    position: relative;
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-image: linear-gradient(120deg,
        black,
        rgba(0, 0, 0, 0.731),
        rgba(0, 0, 0, 0.469),
        white);
    margin-bottom: 1rem;
    animation: spin 1s linear infinite;

    &::after {
      position: absolute;
      content: "";
      width: 80%;
      height: 80%;
      background-color: var(--lightGray);
      border-radius: inherit;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.home-section {
  position: relative;
  height: 100vh;
  background-image: url("../Assests/front-image.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.364);
  }

  @media (min-width: 1024px) {
    height: auto;
    aspect-ratio: 19/9;
  }

  &>.header-box {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 4;

    &>header {
      background-color: var(--blue);
      color: var(--white);
      padding: 1.4rem;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      height: 100%;
      width: 300px;
      left: -300px;
      position: fixed;
      z-index: 5;

      @media (min-width: 768px) {
        left: 0;
        width: 100%;
        gap: 1rem;
        /* margin-inline: auto; */
        height: auto;
        position: static;
        background-color: transparent;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      @media (min-width: 1024px) {
        width: 90%;
        margin-inline: auto;
      }

      &>.close-btn {
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 2rem;

        @media (min-width: 768px) {
          display: none;
        }
      }

      &>.logo {
        display: flex;
      }

      &>div:last-child {
        display: flex;
        align-items: center;
        gap: 1rem;

        @media (max-width: 768px) {
          margin-inline: auto;
        }
      }
    }

    &>.menuopen-btn {
      position: absolute;
      top: 2rem;
      left: 1rem;
      z-index: 1;
      cursor: pointer;

      @media (min-width: 768px) {
        display: none;
      }
    }

    & .navigation>ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media (min-width: 768px) {
        background-color: #ffffff36;
        padding: 0.5rem 1rem;
        flex-direction: row;
        backdrop-filter: blur(5px);
        border-radius: 2rem;
      }

      &>li>a {
        display: block;
        padding: 0.4rem 1rem;
        color: var(--white);
        text-align: center;

        @media (min-width: 768px) {
          flex-direction: row;
          padding: 0.2rem 0.6rem;
        }

        &:hover {
          background-color: var(--white);
          color: var(--textColor);
          border-radius: 2rem;
        }
      }
    }

    & .search-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  &>.content-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
    color: var(--white);
    z-index: 2;

    &>h3 {
      font-family: "Dancing Script", cursive;
      font-size: clamp(20px, 3vw, 42px);
    }

    &>h1 {
      font-family: var(--fontPoppins);
      font-size: clamp(26px, 4vw, 52px);
      margin-bottom: 0.5rem;
    }

    &>a {
      padding: 0.6rem 1.2rem;
      background-color: var(--white);
      letter-spacing: 2px;
      border-radius: 2rem;

      &:hover {
        background-color: var(--textColor);
        color: var(--white);
      }
    }
  }
}

.slider-section {
  &>h2 {
    text-align: center;
    margin-block-end: 2rem;
  }

  & .swiper-slide {
    display: flex;
    height: 100% !important;
    flex-direction: column;

    @media (min-width: 640px) {
      flex-direction: row;
    }

    &>* {
      flex: 1 1;
    }

    &>.left {
      margin: auto;

      &>img {
        @media (max-width:640px) {
          /* height: 290px; */
          max-height: 300px;
        }

        width: 100%;
        height: auto;
        aspect-ratio: 3/2;
        object-fit: cover;
        object-position: bottom;
      }
    }

    &>.right {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;

      @media (min-width: 500px) {
        padding-inline: 1rem;
      }

      &>p {
        font-size: clamp(14px, 2vw, 16px);
      }
    }
  }
}

.second-section {
  &>.top {
    background-color: var(--bg2);
    padding: clamp(1.4rem, 3vw, 3rem);

    &>h2 {
      position: relative;
      margin-block-end: 1rem;

      &::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 100%;
        background-color: var(--orange);
        left: -15px;
        top: 0;
      }
    }
  }

  & .bottom {
    display: flex;
    flex-direction: column;

    &>div {
      aspect-ratio: 3/2;

      @media (min-width: 500px) {
        aspect-ratio: unset;
        order: unset !important;
      }
    }

    @media (min-width: 500px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    &>.text {
      display: flex;
      font-size: clamp(24px, 4vw, 42px);
      text-shadow: 15px 25px 0px var(--orange);
      justify-content: center;
      align-items: center;

      &>span {
        font-family: "Dancing Script", cursive;
        font-weight: bolder;
      }
    }

    &>.image-box>img {
      height: 100%;
    }

    &>.content-box {
      background-color: var(--bg1);
      padding: clamp(1rem, 2vw, 2rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;

      &>h3 {
        font-size: clamp(18px, 2vw, 22px);
      }

      &>a {
        font-size: clamp(14px, 2vw, 16px);
        color: var(--blue);
      }
    }
  }
}

.chardham-section {
  &>.chardham-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 640px) {
      flex-direction: row;
      align-items: center;
      gap: 2rem;

      &>* {
        flex: 1 1;
      }
    }

    &>.left {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0.5rem;
      margin: 1rem;

      @media (min-width: 450px) {
        grid-template-columns: 1fr 1fr;

        &>div:first-child {
          position: relative;
          left: 1rem;
          bottom: 1rem;
        }

        &>div:nth-child(2) {
          position: relative;
          left: 1rem;
          bottom: -1rem;
        }

        &>div:nth-child(3) {
          position: relative;
          left: -1rem;
          bottom: 1rem;
        }

        &>div:last-child {
          position: relative;
          left: -1rem;
          top: 1rem;
        }
      }

      &>div:has(img) {
        border-radius: 0.5rem;
        aspect-ratio: 3/2;
        box-shadow: 0px 0px 3px var(--darkgray);

        &>img {
          border-radius: inherit;
          object-position: top;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.testimonial-section {
  &>.testimonial-header {
    margin-block-end: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & h3 {
      color: var(--blue);
      font-size: clamp(20px, 3vw, 28px);
      font-family: "Dancing Script", cursive;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-end;

      &>* {
        flex: 1 1;
      }
    }
  }

  &>.testimonial-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    &>.testimonial-card {
      max-width: 250px;

      & .top {
        padding: 2rem 2rem 3rem;
        background-color: var(--bg1);
        border-radius: 1.4rem;
        position: relative;

        &>.userimage {
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          bottom: 0;
          transform: translate(-50%, 50%);
          left: 50%;
          outline: 1px solid var(--orange);
          outline-offset: 3px;

          &>img {
            height: 100%;
            width: 100%;
            border-radius: inherit;
          }
        }
      }

      &>div {
        text-align: center;
        padding: 2rem 2rem 0rem;
        display: flex;
        flex-direction: column;
        font-size: 14px;

        &>span:first-child {
          color: var(--darkgray);
          font-weight: bold;
        }

        &>span:last-child {
          color: var(--darkgray);
        }
      }
    }
  }
}

.gallery-section {
  & img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }

  &>.gallery-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-block-end: 2rem;

    @media (min-width: 1024px) {
      margin-block-end: 3rem;
    }

    & h3 {
      text-align: center;
      color: var(--blue);
      font-size: clamp(20px, 3vw, 28px);
      font-family: "Dancing Script", cursive;
    }
  }

  &>.gallery {
    display: grid;
    grid-template-columns: 1;
    gap: 1rem;

    & div:has(img) {
      border-radius: 1rem;
    }

    @media (min-width: 500px) {
      grid-template-columns: 4fr 3fr 3fr;
    }

    @media (min-width: 1024px) {
      width: 90%;
      margin-inline: auto;
    }

    &>.first {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & div:last-child {
        display: flex;
        gap: 1rem;

        &>* {
          flex: 1 1;
        }
      }
    }

    &>.third {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      @media (min-width: 500px) {
        flex-direction: column;
      }

      &>* {
        flex: 1 1;
      }
    }
  }
}

.blog-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;

  @media (min-width: 640px) {
    flex-direction: row;

    &>* {
      flex: 1 1;
    }
  }

  &>.left {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    &>.image-box {
      border-radius: 1rem;
      position: relative;

      & img {
        border-radius: inherit;
        width: 100%;
        height: 100%;
      }

      &>.overlay {
        position: absolute;
        bottom: 10%;
        border-radius: inherit;
        padding: 1rem;
        color: var(--white);

        &>a,
        p {
          color: var(--white);
        }
      }
    }
  }

  &>.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    &>.blog-card {
      display: flex;
      gap: 0.5rem;

      &>.blog-image {
        flex: none;
        width: 30%;

        &>img {
          height: 100%;
          border-radius: 1rem;
        }
      }

      &>.blog-data {
        flex: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.2rem;
        width: 70%;

        &>h3 {
          font-size: clamp(14px, 1vw, 16px);
        }

        &>p {
          font-size: clamp(12px, 1vw, 16px);
          /* text-wrap: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis; */
        }

        &>a {
          font-size: clamp(12px, 1vw, 16px);
          color: var(--blue);
        }
      }
    }
  }
}